/*------------------------------------
Body
------------------------------------*/

/* modify link decoration */

.app {
  z-index: -5;
}

/* ป้องกัน Gallery ทับกับ Header */

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:active {
  text-decoration: none;
}
