@import "css/default.css";
#Home {
  background-color: black;
  height: 100vh;
}

#Projects-1 {
  background-color: white;
  height: 100vh;
}

#Projects-2 {
  background-color: white;
  height: 100vh;
}

#Projects-3 {
  background-color: white;
  height: 100vh;
}

#Sketches {
  background-color: white;
  height: 100vh;
}

#About {
  background-color: White;
  height: 100vh;
}
